/* Navigation */
#main-navigation{
    background-color: #690300;
}

#main-container-frame{
    padding-left: 0;
    padding-right: 0;
}


#dropdown-edit{
    color: #690300;

}

#dropdown-edit:hover{
    color: #000000;
    
}

#buttons{
    background-color: #690300;
    border-color: #690300;
}

#problem-card{
    overflow-y: scroll;
}

#public-chat-container{
    padding-right: 0;
    margin-right: 0;
}

#public-chat-submission{
    position: absolute;
    bottom:0;
    width:90%;
}

.problem-edit-button{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-column-height{
    min-height: 92vh;
    max-height: 92vh;
}

#chat-heads{
    min-height: 50vh;
}

.chat-avatar{
    border-radius: 50%;
    max-height: 90%;
    max-width: 90%;
}

#main-row{
    width: 100.8%;
}

/* Chat */
.chat-message-other{
    background-color: #F7A7A5;
    margin-left: -10px; /*Change to %*/
    margin-right: 50px;
    border-radius: 4px;
}

.chat-message-other-text{
    padding-top: 5px;
    padding-bottom: 5px; /*Change to em!*/
    margin-right: 40%;

}

.chat-message-self{
    background-color: #690300;
    margin-left: 50px;
    margin-right: -10px;
    border-radius: 4px;

}

.chat-message-self-text{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40%;
    color: #FFFFFF;
}

.image-carousel:hover{
    background:rgba(0, 0, 0, 0.5);
}

#caption-text{
    text-shadow: 2px 2px 8px #000000;
}

.chat-avatar-other{
    border-radius: 50%;
    float: left;
    max-height: 8%;
    max-width: 8%;
    padding-top: 2px;
}

.chat-avatar-self{
    border-radius: 50%;
    float: right;
    max-height: 8%;
    max-width: 8%;
    padding-top: 2px;
}



/* Code from Bootstrap Bare template (this was originally provided inline on the index.html page, move it here for readability)*/
body {
    padding-top: 54px;
}
      
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


/* SOURCE: Code from Bootstrap Editor Plugin: https://github.com/mindmup/bootstrap-wysiwyg END SOURCE */
#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}